node_modules/
vsCode/
dist/
build/
*.log
*.env
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/
*.tsbuildinfo
*.cache
*.eslintcache
*.prettiercache
*.vscode-test/
*.yarn-integrity
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/patches/
.yarn/plugins/
.yarn/sdks/
.yarn/versions/
